<?php

use ksoftm\system\utils\database\Migration;

class className extends Migration
{

    public function up(): void
    {
        echo 'className Migration up. . PHP_EOL';
    }

    public function down(): void
    {
        echo 'className Migration down. . PHP_EOL';
    }
}